{% extends 'base.html' %}
{% block content %}
<h2>Historia operacji w bibliotece</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Operacja</th>
            <th>Tytuł książki</th>
            <th>Autor</th>
            <th>Ilość</th>
            <th>Użytkownik</th>
        </tr>
    </thead>
    <tbody>
        {% for record in history %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{ record.operation }}</td>
            <td>{{ record.title }}</td>
            <td>{{ record.author }}</td>
            <td>{{ record.count }}</td>
            <td>{{ record.user }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Brak zapisanych operacji.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
