{% extends 'base.html' %}
{% block content %}
<form action="#" method="POST">
    <div class="form-group">
        <label for="title">Tytuł książki:</label>
        <input type="text" id="title" name="title" class="form-input" placeholder="Wpisz tytuł książki" required>
    </div>
    <div class="form-group">
        <label for="author">Autor książki:</label>
        <input type="text" id="author" name="author" class="form-input" placeholder="Wpisz autora książki" required>
    </div>
    <div class="form-group">
        <label for="count">Liczba sztuk:</label>
        <input type="number" id="count" name="count" class="form-input" placeholder="Wpisz liczbę sztuk" min="1" max="100" required>
    </div>
    <button type="submit" class="btn btn-primary">Wypożycz</button>
</form>
{% endblock %}